*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100vh;
}
.labelOne{
    width: 100vw;
    background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92)0,rgba(0,0,0,.92)100%);
    color: white;
    font-family: Gotham SSm;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    position: fixed;
}
.textOne{
    font-size: 17px;
    font-weight: 500;
    margin-left: -36px;
}
.textTwo{
    font-size: 14px;
    margin-top: 2px;
}
.labelOne a{
    color: white;
}
video{
    margin-top: 58px;
    width: 100vw;
    height: 92vh;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}
.labelTwo {
    display: flex; 
    align-items: center;
    position: fixed;
    margin-top: 55px;
}
.logo{
    width: 120px;
    margin-left: 48px;
    margin-top: 23px;
}
.menu {
    list-style-type: none; 
    display: flex;
    justify-content: center; 
}
.menu li {
    margin: 0 20px; 
}
.a1{
    margin-left: 350px;
}
.menu a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    font-size: 16px; 
}
.icon {
    display: flex; 
    align-items: center; 
    cursor: pointer;
}
.icon img {
    display: flex;
    width: 25px;
}
.imgQ{
    margin-left: 375px;
}
.imgG{
    margin-left: 15px;
}
.imgP{
    margin-left: 15px;
}


.sectionTwo{
    background-image: url('assets/model-y.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 15px;

}
.sectionThree{
    background-image: url('assets/model-s.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 15px;

}

.sectionFour{
    background-image: url('assets/Homepage-Model-X-Desktop-LHD.jpeg');
    background-size: cover;
    background-position: center;
    margin-left: 15px;

}

.videotwo{
    margin-top: 1px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

.sectionSix{
    background-image: url('assets/solarpanels.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 15px;

}
.sectionSix{
    background-image: url('assets/roof.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 15px;

}
.sectionSeven{
    background-image: url('assets/Homepage-Powerwall-Desktop.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 15px;

}
.sectionEight{
    background-image: url('assets/Homepage-Accessories-Desktop-NA-APAC.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 15px;
}

section .content{
    width: 100%;
    height: 65vh;
    padding-top: 15vh;
    text-align: center;
}
section h1{
    font-size: 3rem;
}

.links{
    position: absolute;
    margin-left: 480px;
}

.links .order{
    padding:  10px 100px;
    text-decoration: none;
    color: #272525;
    background-color: rgb(255, 255, 255);
    border-radius: 5px
}
.links .demo{
    margin-left: 25px;
    padding:  10px 100px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(78, 76, 76);
    border-radius: 5px
}
.para1{
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.para2{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}



section .contentWhite{
    color: rgb(255, 255, 255);
    width: 100%;
    height: 65vh;
    padding-top: 15vh;
    text-align: center;
}
.paraWhite1{
    color: white;
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.paraWhite2{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.links .btn{
    margin-left: 160px;
    padding:  10px 100px;
    text-decoration: none;
    color: #272525;
    background-color: rgb(255, 255, 255);
    border-radius: 5px
}